.contact {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    margin-top: 6em;
    padding: 2em;
}

.contact-intro {
    display: flex;
    flex-direction: column;
}

.contact-intro > * {
    padding-bottom: 1em;
}

.contact-title {
    font-size: 4rem;
    font-weight: 600;
    color: var(--secondary-color);
    padding-bottom: 0.5em;
}

.contact-cta {
    width: 40%;
}

a .cta-contact-button {
    width: 100%;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 1em 0 0.5em 0;
    border-radius: 0;
}

.contact-info .socials {
    width: 50%;
    text-align: left;
}

.contact-info .socials a {
    color: var(--secondary-color);
    padding: 0;
}

.email-address {
    font-weight: 600;
    text-decoration: underline;
}

@media only screen and (min-width: 1024px) {
    .contact-container {
        max-width: 1280px;
        margin: 0 auto;
        padding: 5.5em 0;
    }

    .contact-cta {
        width: 20%;
    }

    .contact-info .socials {
        align-items: flex-start;
    }

    .dynamic-contact-form {
        max-width: 767px;
        margin: 0 auto;
    }
}
