.service {
    display: flex;
    line-height: 1.5;
    padding: 2em;
}

.service-title {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--secondary-color);
    margin-bottom: 1em;
    line-height: 1.2em;
}

.service-description {
    margin-bottom: 1em;
}

.process-description p {
    margin-bottom: 1em;
}

.process-description h3 {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--secondary-color);
    margin-bottom: 0.5em;
}

@media only screen and (min-width: 1024px) {
    .service {
        max-width: 1280px;
        margin: 0 auto;
        padding: 6.5em 0;
        font-size: 2rem;
    }

    .service-title {
        font-size: 3rem;
    }
}
