.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
    margin: 10em auto;
    padding: 2.5em;
    margin-bottom: 4em;
}

.intro {
    margin-bottom: 1em;
}

.headline {
    display: flex;
    flex-direction: column;
}

.headline h1 {
    font-size: 6rem;
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: 0.3em;
    overflow: hidden;
    white-space: pre;
    position: relative;
}

.headline h1::after {
    content: '';
    display: inline-block;
    width: 5px;
    height: 1em;
    margin-left: 5px;
    background-color: var(--main-color);
    animation: blink-caret 0.85s step-end infinite;
    position: absolute;
    vertical-align: bottom;
}

.tagline {
    line-height: 1.5;
    font-weight: 300;
    opacity: 0;
    clip-path: inset(0 100% 0 0);
    overflow: hidden;
    position: relative;
    animation: reveal 2s forwards;
    animation-delay: 1s;
    font-size: 2rem;
}

.highlight {
    color: var(--main-color);
}

.cta {
    display: flex;
    width: 40%;
    flex-direction: column;
    opacity: 0;
    clip-path: inset(0 100% 0 0);
    overflow: hidden;
    position: relative;
    animation: reveal 1s forwards;
    animation-delay: 2s;
}

a .hero-cta-button {
    width: 100%;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 1em 0 0 0;
    border-radius: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

@media only screen and (min-width: 767px) {
    .headline h1 {
        font-size: 10rem;
    }

    .cta {
        flex-direction: row;
        width: 100%;
    }

    .cta a {
        margin-right: 2em;
        width: 20%;
    }

    .cta button {
        width: 100%;
    }
}

@media only screen and (min-width: 1024px) {
    .hero {
        max-width: 1280px;
        padding: 7.5em 0;
    }

    .headline h1 {
        font-size: 15rem;
    }

    .tagline {
        font-size: 2.5rem;
    }

    a .hero-cta-button {
        font-size: 2rem;
    }
}

@keyframes blink-caret {
    0% {
        background-color: var(--main-color);
    }
    50% {
        background-color: transparent;
    }
    100% {
        background-color: var(--main-color);
    }
}

@keyframes reveal {
    0% {
        opacity: 0;
        clip-path: inset(0 100% 0 0);
    }
    100% {
        opacity: 1;
        clip-path: inset(0 0 0 0);
    }
}